{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Now, please make a choice
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString()
        }

    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <input type="hidden" name="time_ChooseFirm" id="arrive_time"/>
            <p>
                Make a choice by clicking one of the two options below.
                Competition will start once you and your two opponents have made your choices.
  <br><br>
            </p>

            <p id="choose">
                Please make a choice: <br>
                <input id="A" type="radio" name="firm" value="A"/> I <B>want</B> to learn the scores my opponents obtained in Part 1   <br>
                <input id="B" type="radio" name="firm" value="B"/> I <B>do not want</B> to learn the scores my opponents obtained in Part 1   <br>
            </p>

            <br>
            <p>
                If you do not submit your answer within {{ pageTimeoutWording }}, you will not be allowed to participate in the remainder of the study.
            </p>

        </body>
    </html>

    <div id="next">
        <button class="btn btn-primary btn-large next-button" style="float: right;">Next</button>
    </div>


{% endblock %}

{% comment %}
 
{% endcomment %}
