{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Please wait
{% endblock %}

{% block scripts %}
     <script type="text/javascript">
        window.onload = function ()
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString()
        }



    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <p>

Please wait for everyone to reach this point. When everyone is ready, we will ask you to click to proceed to the competition.


            </p>
        </body>
    </html>

{% endblock %}


