{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Get Ready
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>

                On the next screen, you will start the competition. Please click next when you are ready.
                Good luck!
        </body>
    </html>

    {% next_button %}
{% endblock %}


