{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Information from Part 1
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <input type="hidden" name="time_Game1Firm" id="arrive_time"/>
            <p>
                {% if player.firm == 'B' and player.condition == "chooser" %}
                    You chose to not learn your opponents' scores from Part 1.<BR>
                    You will not be shown your opponents' scores from Part 1.
                {% endif %}

                {% if player.firm == 'A' and player.condition == "chooser" %}
                    You chose to learn your opponents' scores from Part 1.
                {% endif %}

                {% if player.condition == "randomA" %}
            You and your competitors will see each other's scores from Part 1.
                {% endif %}
                {% if player.condition == "randomB" %}
                    You and your competitors will not see each other's scores from Part 1.
                {% endif %}
             {% if player.firm == 'A' %}
                    Here are the baseline scores for the players in your group.
<BR><BR>
					Your baseline score: {{ baseline }}.
					<BR>
                    Opponent 1's baseline score: {{ opponent1 }}.
                    <br>
                    Opponent 2's baseline score: {{ opponent2 }}.
                {% endif %}
            </p>
        </body>
    </html>

    {% next_button %}
{% endblock %}


