{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString()
        }

        

    </script>
{% endblock %}

{% block title %}
    Why?
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <br>
                    {% if player.firm == 'A' %}
        Before you start the contest, please explain why you want to learn the scores your opponents obtained in Part 1.
                {% endif %}
                        {% if player.firm == 'B' %}
                            Before you start the contest, please explain why you <b>do not want</b> to learn the scores your opponents obtained in Part 1.
                {% endif %}
    <br><br>
    <textarea name="q6" cols="40" rows="10" required="true"></textarea>
    {% next_button %}

{% endblock %}
