{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString()
        }

        

    </script>
{% endblock %}

{% block title %}
    Why?
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <br>
                    {% if player.firm == 'A' %}
        Before you started the contest, you chose to learn your opponents' scores from Part 1. <BR>Please explain why.
                {% endif %}
                        {% if player.firm == 'B' %}
                            Before you started the contest, you chose not to learn your opponents' scores from Part 1. <BR>Please explain why.
                {% endif %}
    <br><br>
    <textarea name="q6" cols="40" rows="10" required="true"></textarea>
    {% next_button %}

{% endblock %}
