{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <style>
    .correct {color: green}
    .incorrect {color: red}
    </style>
            <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block title %}
    Comprehension Results
{% endblock %}

{% block content %}
    Please note that if you have answered any questions incorrectly, you will be directed to submit your HIT on the next page.
    
    <P><b>Question 1:</B> How many other players are you competing against?</P>
    <P><b>Your Answer:</b> {{ player.comp1 }}
    {% if player.comp1 == "2" %}
        <div class="correct">Correct!</div>
    {% else %}
        <div class="incorrect">Incorrect.</div>
    {% endif %}
        <b>Correct Answer: 2. </b>  You will be competing against 2 other players.</P>
<HR>
    <P><b>Question 2:</b> Will all the opponents see the same sequence of questions?<BR></P>
     <P><b>Your Answer:</b> {{ player.comp2 }}
        {% if player.comp2 == "Yes" %}
         <div class="correct">Correct!</div>
    {% else %}
        <div class="incorrect">Incorrect.</div>
    {% endif %}
        <b>Correct Answer: Yes. </b>Your opponents will get the exact same problems that you will get, in the same order</P>

    {% next_button %}

{% endblock %}
